@font-face {
    font-family: Adam;
    src: url('../assets/typeface/Adam.otf');
}
#background {
   background: #9733EE;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #9733EE, #DA22FF);
background: -moz-linear-gradient(left, #9733EE, #DA22FF);
background: -o-linear-gradient(left, #9733EE, #DA22FF);
background: linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    height: 100vh;
    width: 100vw;

    background-position: fixed;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
body {
    margin: 0px;
    padding: 0px;
}
#eyecatch {
    color: white;
    font-family: Adam;

    left: 5%;
    width: 95%;
}

.verticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#eyecatch h1 {
    font-size: 4em;
}
#eyecatch h2 {
    font-size: 3em;
    vertical-align: 3px;
}

#projects {
    width: 100vw;
    height: 70vh;
}